server {
    listen 443 ssl;
    server_name fifoci.dolphin-emu.org fifoci.dolphin-emu.net;

    access_log logs/fifoci.access.log main;

    # FifoCI admins need to upload large DFF files, up to 100MB. Put a
    # deliberately high limit here.
    client_max_body_size 256M;

    location / {
        proxy_set_header Host $host;
        proxy_pass http://localhost:8041;
    }

    location /media {
        alias /srv/fifoci/media;
        expires 30d;
    }

    location /static {
        alias /srv/fifoci/static;
        expires 30d;
    }
}
