{% extends "_base.html" %}

{% load static from staticfiles %}

{% block "headtitle" %}{{ current.ver.name }} vs. {{ old.ver.name }} / {{ current.type }} / {{ current.dff }}{% endblock %}
{% block "title" %}
<a href="{{ current.ver.get_absolute_url }}">{{ current.ver.name }}</a> vs.
<a href="{{ old.ver.get_absolute_url }}">{{ old.ver.name }}</a> /
<a href="/#{{ current.type }}">{{ current.type }}</a> /
<a href="{{ current.dff.get_absolute_url }}">{{ current.dff }}</a>
{% endblock %}

{% block "content" %}
{% include "_results_diff_tbl.html" with current=current old=old %}
{% endblock %}

{% block "sidebar" %}
<div id="diff-ui" class="btn-group-vertical" data-toggle="buttons">
  <label class="btn btn-primary active" id="diff-ui-diff" data-toggle="tooltip" data-placement="right" title="Key: 1">
    <input type="radio" name="diff">Diff</input>
  </label>
  <label class="btn btn-primary" id="diff-ui-bright" data-toggle="tooltip" data-placement="right" title="Key: 2">
    <input type="radio" name="diff">Bright</input>
  </label>
  <label class="btn btn-primary" id="diff-ui-left" data-toggle="tooltip" data-placement="right" title="Key: 3">
    <input type="radio" name="diff">Left</input>
  </label>
  <label class="btn btn-primary" id="diff-ui-right" data-toggle="tooltip" data-placement="right" title="Key: 4">
    <input type="radio" name="diff">Right</input>
  </label>
</div>
{% endblock %}

{% block "head" %}
    <script src="{% static "js/imagediff.js" %}"></script>
    <script src="{% static "js/compare_results.js" %}"></script>
{% endblock %}

<!-- vim: set ft=htmldjango ts=2 sw=2 et tw=160 : -->
