/* Sidebar recent changes sublist */
.sidebar-nav li ul {
    list-style: none;
}
.sidebar-nav li ul li {
    text-indent: 10px;
    line-height: 25px;
}

/* Homepage recent changes table */
table.result-table thead th {
    padding-left: 5px;
    padding-right: 5px;
}
table.result-table tbody td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
    border-left: none;
}
table.result-table tbody th {
    text-align: right;
    padding-right: 10px;
}
div.result-table-container {
    margin-bottom: 2.5em;
}
table.result-table tbody td.failure {
    background-color: #ef3d47;
}
table.result-table tbody td.success {
    background-color: #90ee90;
}
table.result-table tbody td.missing {
    border: none;
}
table.result-table tbody td.same {
    border-right: none;
}
table.result-table tbody td:nth-of-type(1) {
    border-left: 1px solid black;
}

/* Version results table */
table.version-result-table thead th {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
table.version-result-table tbody td {
    padding-left: 5px;
    padding-right: 5px;
}
table.version-result-table tbody tr.new-type {
    border-top: 1px solid black;
}

/* Results view */
table.results-diff thead th {
    text-align: center;
    padding-bottom: 1em;
}
table.results-diff tbody {
    text-align: center;
    vertical-align: center;
}
table.results-diff .results-col-curr {
    width: 30%;
    border: 0;
}
table.results-diff .results-col-diff {
    width: 30%;
    border-left: 5%;
    border-right: 5%;
}
table.results-diff .results-col-old {
    width: 30%;
    border: 0;
}
table.results-diff td.result-image img {
    width: 100%;
    margin-bottom: 5px;
}

.result-image {
    position: relative;
}

#diff-ui {
    position: absolute;
    bottom: 50px;
    left: 25px;
    width: 200px;
}

#diff-ui-bright {
    display: none;
}

@supports (filter:brightness(10)) or (-webkit-filter:brightness(10)) {
    #diff-ui-bright {
        display: block;
    }
}
